### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
!**/target/
.idea

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/Client/target/Client-1.0-SNAPSHOT.jar
/Common/target/Common-1.0-SNAPSHOT.jar
/Client/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/Common/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/Common/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/Server/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/Client/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/Common/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/Common/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/Server/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/Common/target/test-classes/META-INF/jpms.args
/Client/target/maven-archiver/pom.properties
/Common/target/maven-archiver/pom.properties
/Server/target/maven-archiver/pom.properties
/Server/target/Server-1.0-SNAPSHOT.jar

/Client/target
/Common/target/classes/com/sec/BlockChain/AuxFunctions.class
/Common/target/classes/com/sec/BlockChain/Block.class
/Server/target/classes/META-INF/jpms.args
/Common/target/classes/com/sec/BlockChain/Transaction.class
/Common/target/classes/com/sec/BlockChain/AccountState.class
/Common/target/classes/com/sec/BlockChain/Block$1.class
/Common/target/classes/com/sec/Messages/CollectedMessage.class
